body{
    font-family: "SF UI Display", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 17px;
    color: $white-color;
}

.wrapper{
    max-width: 1028px;
    margin: 0 auto;
}